doctype html
html
  head
    title users#edit
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", type="text/css", href="/users/app.css")
  body
    h1 users#edit
      
    script(src="/js/app.js")
    script(src="/users/app.js")