doctype html
html
  head
    block title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", type="text/css", href="/app.min.css")
  body
    div.container
      div.row
        div.col-md-8.col-md-offset-2
          block body
    script(src="/app.min.js")
    block script